.category_container{
    width:80%;
    padding:0px;
    margin:0px;   
}
.category_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
}
.item{
    list-style: none;
}
.btn{
    background-color: rgba(160, 160, 160, 0.425);
    padding:10px;
    width: 90px;
    border:none;
    border-radius: 15px;
    font-family:var(--main-font);
    font-size:14px;
}
.btn:hover{
    background-color:var(--selector-light);
    color:rgb(241, 241, 241);
}
    
/* dark theme */