.form-container {
  width: 70%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
}
.form-container label {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  color: rgb(100, 99, 99);
}
.form-container input {
  width: 100%;
  padding: 0px;
  height: 40px;
  font-size: 16px;
  outline: none;
  border: 1px solid black;
  border-radius: 25px;
  padding-left: 10px;
  transition: all ease-in 0.2ms;
}
.form-container input:focus {
  border: 2px solid green;
  box-shadow: 0px 0px 5px gray;
}
.form-container .category-selector {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  outline: none;
  text-align: center;
}
.form-container .category-selector:focus {
  border: 2px solid green;
  box-shadow: 0px 0px 5px gray;
  font-size: 16px;
}
.form-container .action-button {
  background-color: rgb(134, 219, 134);
  margin-top: 40px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid gray;
  box-shadow: 0px 0px 5px;
  transition: all ease-out 0.2s;
  font-size: 20px;
  color: rgb(100, 99, 99);
  font-weight: 600;
}
.form-container .action-button:hover {
  box-shadow: 0px 0px 5px 2px gray;
}

.form-container .update-button {
  background-color: skyblue;
}

@media (max-width: 2000px) {
  .form-container {
    width: 50%;
  }
}

/* This @media means when the screen width is 1600px or
   less, we will divide the grid into 6 columns. */
@media (max-width: 1600px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1000px) {
  .form-container {
    width: 85%;
  }
}

@media (max-width: 800px) {
  .form-container {
    width: 95%;
  }
  .form-container label {
    font-size: 16px;
  }
  .form-container input,.form-container .category-selector,
  .form-container .category-selector option {
    font-size: 14px;
  }
  .form-container .action-button{
    font-size: 16px;
  }
}

@media (max-width: 575px) {
}

@media (max-width: 450px) {
}
