

.header{
    background-color: rgb(56, 224, 121);
    width:100%;
    height:10%;
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}
.header .logo{
    width:100px;
}
.header .logo-text{
    font-size:30px;
    margin-left:0px;
   font-weight: bold;
}
.header .search-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    border:2px solid black;
    height:40px;
    width:500px;
    align-items: center;
    border-radius:50px;
    padding:5px;
    flex-grow: 1;
}
.header .search-container input{
    border:none;
    outline:none;
    height:100%;
    width:95%;
    border-radius: 10px;
    font-size: 16px;
    color:grey;
}
.header.search-icon img{
    width:30px;
}
/* .header .categories select{
    width:100px;
    height:30px;
    border-radius:50px;
    padding:3px;
    text-align: center;
    background-color:skyblue;
    outline: none;
    margin-left:60px;
    
}
.header .categories select option{
    padding:5px;
    border:1px solid black;
    
} */

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  
  .categories select {
    appearance: none; /* removes default arrow style */
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #ddd;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 5px;
  }
  

  
  /* Hover and focus states */
  .categories select:hover {
    border-color: #888;
  }
  
  .categories select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  }
  
  .categories option {
    padding: 10px;
    font-size: 15px;
    background-color: white;
    color: #333;
  }
  

@media (max-width: 2000px) {

  }
  
  /* This @media means when the screen width is 1600px or
     less, we will divide the grid into 6 columns. */
  @media (max-width: 1600px) {
    .header .logo-text{
        font-size: 20px;
    }

  }
  
  @media (max-width: 1300px) {

  }
  
  @media (max-width: 1000px) {

  }
  
  @media (max-width: 800px) {
    .header .logo-text{
        display:none;
    }
    .header .logo{
      width:60px;
    }
    .categories select{
      font-size: 14px;
      padding:5px 8px;
      text-align: center;
    }
    .categories option{
      padding:5px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 575px) {

  }
  
  @media (max-width: 450px) {

  }