.main-container{
    width:60%;
    height: 100vh;
    box-shadow: 0px 0px 20px;  
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 2000px) {

}

/* This @media means when the screen width is 1600px or
   less, we will divide the grid into 6 columns. */
@media (max-width: 1600px) {


}

@media (max-width: 1300px) {
    .main-container{
        width:70%;
    }
}

@media (max-width: 1000px) {

}

@media (max-width: 800px) {
    .main-container{
        width: 100%;
    }
}

@media (max-width: 575px) {

}

@media (max-width: 450px) {

}