.list_container {
  height: 45vh;
  /* background-color: red; */
  margin-top: 10px;
  width: 50%;
}
.list_group {
  /* background-color: blue; */
  padding-left: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  padding-right:10px;
  flex:1;
}

